venv/
__pycache__/
*.pyc
.DS_Store

# Temporary Data
temp_chunks/
temp_smart_chunks/
input_audio/
*.csv
New Audio/
repos/

# Deployment logic (Keep app.py, packages.txt, and .streamlit)


# Heavy Assets
models/*.ckpt
